{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": ["emotion"],
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": ["off"]
  }
}
